.father {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.child {
  flex-basis: 300px;
  background-color: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: #000;
  flex-grow: 1;
}
